@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
:root {
    --font-pop: 'Poppins';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-pop);
    box-sizing: border-box;
}

/* Icones */
/* styles.css */

body {
    /* background-color: rgb(255, 255, 255); */
    background: url(imagens/fundo.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.content{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-top: 100px;

}
/* Scrollbar */
body::-webkit-scrollbar {
    width: 15px;
    background: #9EC7CD;
}

/* Scrollbar */

body::-webkit-scrollbar-thumb {
    background: rgb(190, 96, 252);
    border-radius: 5px;
    transition: all 0.3s ease;
}
/* Scrollbar */

body::-webkit-scrollbar-thumb:hover {
    background: rgb(40, 41, 40);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: rgb(0, 0, 0);
    width: 100%;
    background-color: rgba(133, 87, 87, 0.068);
    
}

.navBar h1 {
    font-size: 2rem;
    transition: all 0.3s ease;
}

.navBar h1:hover {
    scale: 1.1;
}

.inputSearch {
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 250px;
    background-color: rgb(46, 45, 45);
}

.inputSearch input {
    background-color: rgb(46, 45, 45);
    color: white;
    border: none;
    outline: none;
    margin: 5px;
}

.inputSearch input::placeholder {
    color: white;
    font-size: 1rem;
    font-weight: normal;
}

.inputSearch button {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: rgb(46, 45, 45);
}

.currentLoc button {
    background-color: rgb(190, 96, 252);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.currentLoc button:hover {
    background-color: rgb(130, 131, 130);
}

.content {
    display: flex;
    border-radius: 15px;
    color: white;
    font-weight: normal;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin-left: 50px;
}

.leftSide > .mainWeather {
    display: flex;
    padding: 1rem;
    background-color: rgba(46, 45, 45, 0.849);
    border-radius: 15px;
    color: black;
    transition: all 0.3s ease;
}

.leftSide > .mainWeather:hover {
    scale: 1.02;
}


.leftSide > .mainWeather > h1 {
    font-size: 3.5rem;
    font-weight: normal;
    margin: 20px 70px 0px 0px;
}

.leftSide > .mainWeather > h4 {
    margin: 1rem ;
    font-weight: normal;
    font-size: 1.2rem;
}

.mainWeather > hr {
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem 0;
}

.leftSide > .nextDays {
    color: black;
    transition: all 0.3s ease;
}

.leftSide > .nextDays:hover{
    scale: 1.1;
    
}

.leftSide > .nextDaysWeather {
    display: flex;
    padding: 1rem;
    border-radius: 15px;
    flex-direction: column;
    background-color: rgba(46, 45, 45, 0.849);
    font-size: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);

}
.leftSide > .nextDaysWeather:hover{
    scale: 1.02;
}

.nextDaysWeather > .day > h1 {
    margin: 8px 20px 0px 10px;
    font-weight: lighter;
}



.day {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 15px;
}

.main {
    flex-direction: column;
    border-radius: 15px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(46, 45, 45, 0.849);
    border-radius: 15px;

}

.rightSide > .weather-details > .second h1:hover{   
    scale: 1.05;
}


.rightSide > .weather-details > .first h1:hover{   
    scale: 1.05;
}
   


.rightSide > .weather-details > .second h1 {
    font-size: 1.5rem;
    font-weight: normal;
    background-color: rgba(46, 45, 45, 0.849);
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);

}

.rightSide > .weather-details > .first h1 {
    font-size: 1.5rem;
    font-weight: normal;
    background-color: rgba(46, 45, 45, 0.849);
    border-radius: 15px;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
    color: rgb(190, 96, 252);
    font-size: 20px;
}

footer > p > a {
    text-decoration: none;
    font-weight: bolder;
    transition: all 0.3s ease;
    color: rgb(190, 96, 252);
}

footer > p > a:hover {
    color: green
}

img:hover {
    transform: scale(1.3);
    transition: all 0.3s ease;
}
/* Media Queries */

@media (max-width: 1400px) {
   


    .content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   


    .leftSide > .mainWeather {
        display: flex;
        border-radius: 15px;
        height: 150px;

        
    }
    .leftSide > .mainWeather >.Temperature {
        font-size: 1.5rem;
        font-weight: normal;
        height: 30px;
        padding: 20px;
        flex-direction: column;
        display: flex;
    }
    .Temperature > img{
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }

   

    .leftSide > .mainWeather > h4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
     
    .leftSide> .mainWeather > hr{
        margin-right: 50px;
    }
   

    .leftSide > .nextDaysWeather {
        display: flex;
        border-radius: 15px;
        background-color: rgba(46, 45, 45, 0.849);
        justify-content: center;
        align-items: center;
        width: 70%;
        
    }

  

   .rightSide{
         display: flex;
         justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;

    
   }
    
     
    
       
    
        .details > h2 {
            font-size: 1.2rem;
            font-weight: normal;
        }
    
        .details > i {
            font-size: 3.5rem;
        }
    
        .details > h2 > i {
            font-size: 3.5rem;
        }
    
        
    }
@media (max-width: 1200px) {

   


    .content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .leftSide {
        display: flex;
        flex-direction: column;
        align-items: center;

        
    }

    .leftSide > .mainWeather {
        display: flex;
        
        border-radius: 15px;
        flex-direction: column;
        justify-content: space-between;
        
    }

   
   
        

    .leftSide > .mainWeather > h4 {
        display: flex;
        flex-direction: column;
        
    }

   

    .leftSide > .nextDaysWeather {
        display: flex;
        border-radius: 15px;
        background-color: rgba(46, 45, 45, 0.849);
        justify-content: center;
        align-items: center;
        width: 80%;
        
    }

  
    .rightSide{

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius: 15px;
        margin: 20px;
        background-color: transparent;
       }
       .rightSide h1{
           font-size: 1.5rem;
           font-weight: normal;
           margin: 10px;
           border-radius: 15px;
           display: flex;
           justify-content: center;
           align-items: center;}
    
        }
    
    
        


@media (max-width: 992px) {
    
}
.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    margin: 0px 50px;
    
    
   }

.leftSide > .mainWeather {
    display: flex;
    background-color: rgba(46, 45, 45, 0);
    border-radius: 15px;
    flex-direction: row;
}
   .leftSide> .nextDays{
    border-radius: 15px;
    padding: 1rem;
    margin-top: 30px;

}

.leftSide > .nextDaysWeather {
    margin-top: 20px;
}
.rightSide{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    margin: 20px;
    background-color: transparent;
   }
   .rightSide h1{
       font-size: 1.5rem;
       font-weight: lighter;
       margin: 10px;
       border-radius: 15px;
       display: flex;
       justify-content: center;
       align-items: center;}

    

    


@media (max-width: 768px) {
    .navBar{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }
    
    .navBar > .currentLoc > button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 5px;
        font-size: 1rem;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .leftSide{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        padding: 1rem;
        margin: 0px 50px;
        
        
       }

    .leftSide > .mainWeather {
        display: flex;
        background-color: rgba(46, 45, 45, 0);
        border-radius: 15px;
        flex-direction: row;
    }
       .leftSide> .nextDays{
        border-radius: 15px;
        padding: 1rem;
        margin-top: 30px;

    }

    .leftSide > .nextDaysWeather {
        margin-top: 20px;
    }

  
   

   .rightSide{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    margin: 20px;
    background-color: transparent;
   }
   .rightSide h1{
       font-size: 1.5rem;
       font-weight: normal;
       margin: 10px;
       border-radius: 15px;
       display: flex;
       justify-content: center;
       align-items: center;}

    }

   

   


@media (max-width: 576px) {
    

    .navBar{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .navBar h1 {
        font-size: 1.5rem;
        margin: 10px;
    }

    .navBar > .inputSearch {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

    }

    .navBar > .currentLoc > button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 5px;
        font-size: 1rem;
    }


    .content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .leftSide > .mainWeather {
        display: flex;
        background-color: rgba(46, 45, 45, 0);
        border-radius: 15px;
        flex-direction: column;
        height: 300px;

        
    }

    .leftSide > .mainWeather >.Temperature {
        font-size: 1.5rem;
        font-weight: normal;
        height: 100px;
        padding: 20px;
        flex-direction: row;
        display: flex;
    }
    
    .leftSide> .nextDays{
        border-radius: 15px;
        padding: 1rem;
        margin-top: 60px;

    }

    .leftSide > .nextDaysWeather {
        margin-top: 20px;
    }
   

   .rightSide{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    margin: 20px;
   }
   .rightSide h1{
       font-size: 1.5rem;
       font-weight: normal;
       border-radius: 15px;
       padding: 2rem;
       

    }



      




@media (max-width: 320px) {
    ::-webkit-scrollbar {
        display: none   ;
    }

    .navBar{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .navBar h1 {
        font-size: 1.5rem;
        margin: 10px;
    }

    .navBar > .inputSearch {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

    }

    .navBar > .currentLoc > button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 5px;
        font-size: 1rem;
    }


    .content {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .leftSide > .mainWeather {
        display: flex;
        background-color: rgba(46, 45, 45, 0);
        border-radius: 15px;
        flex-direction: column;
        height: 300px;

        
    }

    .leftSide > .mainWeather >.Temperature {
        font-size: 1.5rem;
        font-weight: normal;
        height: 50px;
        padding: 20px;
        flex-direction: row;
        display: flex;
    }
  
   .leftSide> .nextDays{
    border: solid 1px white;
    border-radius: 15px;
    padding: 1rem;

}

   .rightSide{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgba(46, 45, 45, 0);
    border-radius: 15px;
    margin: 20px;
   }
   .rightSide h1{
       font-size: 1.5rem;
       font-weight: normal;
       margin: 10px;
       border-radius: 15px;
       padding: 2rem;
       display: flex;
       justify-content: center;
       align-items: center;}

    }

 
   

}

@media (max-width: 280px) {
    ::-webkit-scrollbar {
        display: none   ;
    }

    .navBar{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .inputSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 290px;
    
    }
}


